body {
	margin: 0px;
	padding: 0;
}
* {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 16px;
}
.calculator {
	display: grid;
	min-height: 100vh;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 64px);
	grid-template-rows: minmax(64px, auto) repeat(5, 64px);
	gap: 4px;
}

.calculator > button {
	outline: 0;
	cursor: pointer;
}

.two {
	grid-column: span 2;
}

.display {
	grid-column: 1/-1;
	background-color: cadetblue;
	grid-row: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	padding: 8px;
	word-wrap: break-word;
	word-break: break-all;
}
.display .prev {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1rem;
}
.display .current {
	color: rgba(255, 255, 255, 1);
	font-size: 2.5rem;
}
